* 
{
    margin: 0px;
    padding: 0px;    
    font-family: Verdana;
}

body
{
    background: #B35808;
}

#page 
{
    width: 750px;
    background: white;
    border: 1px solid #831808;
    margin: 50px auto;
}
#banner 
{
    background: url('images/banner.jpg');
    height: 166px;    
}
#menucontainer span
{
    display: inline-block;
    height: 30px;
    font-size: 1em;
    margin: 5px;
    padding: 5px 8px;
}
#main 
{
    padding: 10px 15px;
}