<h2>Competitions</h2>

<p>Every year ALF has had a different type of competition, and this year we’re introducing ‘Another Swing Dance Championship’! Only two individuals can win the championship: one lead and one follow. The championship is divided into a Jack & Jill, a strictly and a showcase competition. Although each competition has its own prizes, the prestige (and the best prize, of course) is reserved to those who score the most points in total. This means that those who participate in all the competitions will have a bigger shot at the grand title.</p>

<br />
<h3>Jack and Jill </h3>
<p>In Jack and Jill you sign up without a partner. First there will be held an introductory round where you will be dancing with three different, randomized partners. Later in the evening the finalists will be revealed, and the remainder of the competition will be held. In the very spirit of ALF, the competition will be fun and informal. With unorthodox judging criteria, and by adding a twist, we will give the competitors an opportunity to gather extra points in the final stage. Our sincere hope is that as many as possible of you will join this competition and show what great fun you have dancing the Lindy hop! 
Sign up and STFO (Swing The Fuck Out)!</p>

<br />
<h3>Strictly Lindy</h3>
<p>In this competition you sign up with a partner. An introductory round will be held at first, in which all the couples dance together on the floor, all-skate, for 3 min. In the final the couples will dance in a spotlight fashion, meaning they will line up and dance and show off one at a time to the audience’s delight. When one couple has danced, the next couple takes the stage. After all couples have danced two times, the competition ends with all of them taking the floor together in an old fashioned all-skate. </p>

<br />
<h3>Showcase</h3>
<p>In the showcase competition you sign up with a partner and create a lindy hop routine. You and your partner decide beforehand what song you want to dance to, and hand the song over to us in good time before you are going to perform (preferably a week). The winners get a prize, but more importantly the best couples will be rewarded points in the race to become ASDC champions! We look forward to seeing some fun and entertaining choreographies, so sign up and get creative!</p>

<br />
<h3>Boogie Woogie Fast Feet Jack & Jill</h3>
<p>During the weekend there will be held a Fast Feet J&J competition for Boogie Woogie although it will not be a part of the championship. The dancer will dance several rounds with randomized partners, where the music will speed up after each round. The judges will take out one couple each round, and the dancers will have new partners for the next round. The competition will go on until there are three couples left, and then we have the final. The audience will choose a winner by applauding their favorite.</p>