<h2>ALF 2013</h2>

<p>It is time for Another Lindy Hop Festival, and trust us when we say that the 2013 edition <i>will</i> deliver.</p>
<p>With last years great success we are more dedicated than ever to bring joy and challenges to the participants, and we are now presenting to you an even more amazing event! We are talking more awesome world class teachers, more thrilling competitions and shows, and of course plenty of time to swing and sweat through the cooling nights of Trondheim. This year we are also bringing in live bands for both Lindy Hop and Boogie Woogie dancers, meaning more space and twice the rhythm to stomp our feet to.
<p>In addition to this - to give you a good feel of the Norwegian scene - the main night will be at a farm (!) built in 1820 (!!) so we can swing our souls out until the rooster crows.</p>
<p>Another Lindy Hop Festival is one event you don't want to miss, because it's not going to be just Another Lindy Hop Festival.</p>
<br />
<h2>Event information</h2><br />
<p>ALF 2013 will take place April 25th-28th in beautiful Trondheim. The third instalment of ALF will be visited by Skye & Frida, Thomas & Alice, Alf & Eli, Nicolas & Mikaela, Susanne & Thorbjørn, Remy & Moe and the VIP - YOU</p><br />
<h3>The Plan</h3>
<p>The workshop kicks off Thursday the 25th with a swinging party</p>
<p>Friday will feature the start of classes, auditions, competitions and of course lots and lots of social dancing.
    <br />There will be live music from Jazz fra Kjøkkenet (Jazz from the Kitchen) - a band composed of local dancers, dedicated Lindy Hop and Boogie Woogie dancefloors</p>
<p>Introducing rounds, for the first time appearance of Another Swing Dance Championship, will take place during this night</p>
<p>Saturday is the day of the main event, preceded by classes and tasters.
    <br />The main party will take place at Kvilhaugen, a stately farm from the early 19th century, where dinner will be served before live music will be provided by the recurring band Jazzmazzørene, who graces us with their swinging rhythms once again.
    <br />Finals in Another Swing Dance Championships will be held as well as an entertaining cabaret.
</p>
<p>The workshop will be concluded Sunday, with the final classes and tasters - before a goodbye party will take place at Nyhavna to squeeze the last few drops of swing dancing out of you</p>

