<h2>Event Information</h2>

<p>
    Its time for the third edition of ALF- Another Lindy Hop Festival 2013! It will be better, bigger and boogier! NTNUI Dans Lindy Hop and NTNUI Dans Boogie Woogie invite you to a fantastic weekend in beautiful Trondheim!
</p>
<p>
    The workshop takes place April 25TH-28TH, 2013, and we are not holding anything back this time around either. We are featuring some of the best Lindy Hoppers and Boogie Woogie dancers around, including some new faces as well as some old favourites.
    <br>Strap on your dance shoes, put on a smile and get ready to dance the night away! ALF 2013 - all that jazz!
</p>
