<h2>Event Information</h2>

<p>
    Its time for the third edition of ALF- Another Lindy Hop Festival 2013! It will be better, bigger and boogier! NTNUI Dans Lindy Hop and NTNUI Dans Boogie Woogie invite you to a fantastic weekend in beautiful Trondheim!
</p>
<p>
    The workshop takes place April 25TH-28TH, 2013, and for the second edition of ALF we have some of the best teachers and dancers in the world to help us make this a most thrilling experience.
</p>
