* {
    margin: 0px;
    padding: 0px;
    font-family: 'ABeeZee', sans-serif;
}
body {
    background: #303030;
}
img#banner {
    margin: 40px auto 0px auto;
    display:block;
}
#maincontent {
    width: 1060px;
    margin: 0px auto;
    background: white;
    padding: 20px;
}

.splashbox a {
    float:left;
    width: 345px;
    margin: 0px;
    background: #606060;
    font-size: 1.3em;
    padding: 10px;
    border-bottom: 1px solid #202020;
    border-right: 1px solid #202020;
    color: white;
    text-decoration:none;
}
.splashbox a.green {
    background: #30B030;
    border-right: 3px solid #202020;
}
input, p, label {
    padding: 4px;
}

fieldset legend {
    padding: 10px;
    font-size: 1.3em;
}
fieldset div {
    padding: 10px;
}
fieldset ul {
    margin-left: 20px;
}
fieldset label {
    width: 100px;
    display:inline-block;
}

#slider {position: relative; overflow: hidden;height:250px;}
#slider img {position:absolute;	margin:0; height:250px; display:none;}
#imageloader {position:relative; display:block; width: 100%; margin: 0px auto; text-align: center;}